<div class="comment">
	<% unless !comment.image? %><a href=<%= comment.image_url.to_s%>><%= image_tag comment.image_url(:thumb).to_s %></a><% end %>
	<span class="comment-content"><%= raw(Rinku.auto_link(comment.content, :all, 'target="_blank"')) %></span>
	<span class="comment-info">
		<% if comment.user %>
			<%= "Posted by " + comment.user.username unless comment.user.nil? %>
		<% else %>
			<%= "Posted by anonymous" %>
		<% end %>
		</br></span>
	<span class="comment-actions"><%= link_to "Reply", new_post_comment_path(@post, :parent_id => comment.id) %>
		<% if current_user && (comment.user == current_user || current_user.admin == true) %>
			<%= link_to "Edit", edit_post_comment_path(:id => comment.id, :post_id => @post.id) %>
			<%# link_to "Delete", comment, :confirm => "Are you sure?", :method => :delete %>
			<%= link_to "Delete", post_comment_path(@post.id, comment.id), :confirm => "Are you sure?", :method => :delete %>
		<% end %>
	</span>
</div>