<div class="post">
	<div class="view-thread"><%= link_to "View Thread", post %></div>
	<div class="vote-info">
		<div class="votes">
			<% if user_signed_in? %>
				<%= link_to raw("<i class='icon-chevron-up'></i>"), upvote_path(post), :remote => "true", "data-type" => :json, :class => "upvote", :method => :post, 'rel' => 'tooltip', 'data-placement' => 'left', 'data-original-title' => 'Click to vote' %>
			<% else %>
				<%= link_to raw("<i class='icon-circle-arrow-up'></i>"), new_user_session_path %>
			<% end %>
			<span class="vote-count"><%= pluralize post.reputation_for(:votes).to_i, "vote" %></span>
		</div>
	</div>
	<span class="post-title"><%= link_to post.title, post %> <span class="post-user">posted by <%= post.user.username %> (<%= time_ago_in_words(post.created_at)%> ago)</span></span></br>
		<div class="post-index-image">
			<% unless !post.image? %><%= image_tag post.image_url(:thumb).to_s %><% end %>
		</div>
	<div class="post-teaser">
		<p class="teaser"><%= post_teaser(post) %></p>
	</div>
	<p class="comment-count"><%= pluralize post.comments.count, "comment" %> in this thread
	<span class="post-actions">
		<% if current_user && (post.user == current_user || current_user.admin == true) %>
			<%= link_to "Edit", edit_post_path(post) %> <%= link_to "Delete", post, :confirm => "Are you sure?", :method => :delete %>
		<% end %>
	</span>
	</p>
</div>