<div class="post">
	<div class="vote-info">
		<div class="votes">
			<% if user_signed_in? %>
				<%= link_to raw("<i class='icon-chevron-up'></i>"), upvote_path(post), :remote => "true", "data-type" => :json, :class => "upvote", :method => :post, 'rel' => 'tooltip', 'data-placement' => 'left', 'data-original-title' => 'Click to vote' %>
			<% else %>
				<%= link_to raw("<i class='icon-circle-arrow-up'></i>"), new_user_session_path %>
			<% end %>
			<span class="vote-count"><%= pluralize post.reputation_for(:votes).to_i, "vote" %></span>
		</div>
	</div>
	<span class="post-title"><%= link_to post.title, post %> <span class="post-user">posted by <%= post.user.username %> (<%= time_ago_in_words(post.created_at)%> ago)</span></span></br>
		<% unless !post.image? %><a href=<%=post.image_url.to_s%>><%= image_tag post.image_url(:thumb).to_s %></a><% end %>
		<p class="post-description"><%= raw(Rinku.auto_link(post.description, :all, 'target="_blank"')) %></p>
	<p class="comment-count"><%= pluralize post.comments.count, "comment" %>
		<% if current_user && (post.user == current_user || current_user.admin == true) %>
			<%= link_to "Edit", edit_post_path(post) %> <%= link_to "Delete", post, :confirm => "Are you sure?", :method => :delete %>
		<% end %>
	</p>
</div>
<div id="comments">
	<%= nested_comments(@comments.arrange(:order => :created_at)) %>
</div>

<%= form_for [@post, @comment] do |f| %>
   <%= f.text_area :content, :rows => 5, :columns => 50 %>
   <%= f.file_field :image %>
   <%= f.label :remote_image_url, "or image URL (Please choose one or the other. Large files may take a moment to submit.)" %>
   <%= f.text_field :remote_image_url, :placeholder => (@comment.image) %>
   <%= f.submit "Post Comment" %>
<% end %>